.frame{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    margin: 20px 40px 0 40px;
    font-size: 30px;
    color: wheat;
    padding: 5px;
    border: 1px solid steelblue;
    border-radius: 5px;
}